
.livestamp{
	color: #FB9337;
	cursor:pointer;
}

a{
	color: #34495e;
}
thead > tr > th{
	font-family: 'Oswald-Light';
	letter-spacing:1px;
	background:#f4f4f4;
}
.day.active{
	color: #8e44ad;
	font-weight: bold;
	background: #ffffff;
	cursor:pointer;
}

/******************** navbar *************************/
.navbar.navbar-default.navbar-fixed-top{
	background: #fff url('../images/bg/2.png') repeat;
	border:none;
	z-index: 100;
	color:#fff;
	border-bottom:5px solid #8e44ad;
}

.navbar.navbar-default.navbar-fixed-top > div.container > div.navbar-collapse.collapse > ul.nav.navbar-nav > li.active > a{
	background: #8e44ad;
	color: #fff;
}
/******************** end navbar *************************/


a.lihat{
	text-decoration:none;
}

/*--pagination-->*/
.dataTables_wrapper > div.dataTables_paginate.paging_bootstrap.pagination > ul {
	
}
.dataTables_wrapper > div.dataTables_paginate.paging_bootstrap.pagination > ul > li{
	display:inline;
	padding:5px 10px 5px 10px;
	border-top:1px solid #8e44ad;
	border-right:1px solid #8e44ad;
	border-bottom:1px solid #8e44ad;
	
}
.dataTables_wrapper > div.dataTables_paginate.paging_bootstrap.pagination > ul > li:hover{
	background:#8e44ad;
	color:#fff;
}
.dataTables_wrapper > div.dataTables_paginate.paging_bootstrap.pagination > ul > li > a{
	text-decoration:none;
	outline:none;
	padding:5px;
	color:#000;
}


.dataTables_wrapper > div.dataTables_paginate.paging_bootstrap.pagination > ul > li.active{	
	background: #8e44ad;
	border-top:1px solid #8e44ad;
	border-right:1px solid #8e44ad;
	border-bottom:1px solid #8e44ad;
	
}
.dataTables_wrapper > div.dataTables_paginate.paging_bootstrap.pagination > ul > li.active > a{

	color:#fff;
}
.dataTables_wrapper > div.dataTables_paginate.paging_bootstrap.pagination > ul > li{
	
}
.dataTables_wrapper > div.dataTables_paginate.paging_bootstrap.pagination > ul > li.prev.disabled{
	border-left:1px solid #8e44ad;
	padding:5px;
}

.dataTables_wrapper > div.dataTables_paginate.paging_bootstrap.pagination > ul > li.next{
	padding:5px;
	border-right:1px solid #8e44ad;
}
.dataTables_wrapper > div.dataTables_paginate.paging_bootstrap.pagination > ul > li.prev{
	padding:5px;
	border-left:1px solid #8e44ad;
}
/*--pagination-->*/
/*transaksi*/
/


.list-group > a.list-group-item.active{
	background: #8e44ad;
	border:#8e44ad;
}
.panel.panel-default > div.panel-heading{
	background: #8e44ad;	
	color: #ffffff;
	
}
#accordion.panel-group > div.panel.panel-default > div.panel-heading > h4.panel-title > a{
	text-decoration:none;
	outline:none;
}
#accordion.panel-group > div.panel.panel-default > div.panel-heading > h4.panel-title > a:hover{
	opacity:0.9;
}
.panel.panel-default > div.panel-body > ul.nav.nav-tabs{
	 border-bottom:2px solid  #8e44ad;
	 padding-bottom:1px;
	 
}
.panel.panel-default > div.panel-body > ul.nav.nav-tabs > li.active > a{
	background:  #8e44ad;
	border: 1px solid  #8e44ad;
	color:#ffffff;
}
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.panel-body > ul.fa-ul > li{
	list-style: none;
	margin-left:0px;
}
.panel-body > ul.fa-ul{
margin-left:0px;
}
/*misc*/
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

/*jgrowl default* greensea */
div.jGrowl div.jGrowl-notification,div.jGrowl div.jGrowl-closer{
background-color:#000;
opacity:.85;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);zoom:1;
width:235px;
padding:10px;
margin-top:5px;
margin-bottom:5px;
font-family:Tahoma,Arial,Helvetica,sans-serif;
font-size:1em;
text-align:left;
display:none;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}
a.top.pull-right{
	background:#8e44ad;
}
.footer-content{
	background:#8e44ad;
	min-height:100px;
	padding-top:50px;
	
}
/*tooltip*/
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  /*border-radius: 4px;*/
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000;
  border-width: 5px 5px 0;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-top-color: #000;
  border-width: 5px 5px 0;
}

.tooltip.top-right .tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-top-color: #000;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000;
  border-width: 0 5px 5px;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-bottom-color: #000;
  border-width: 0 5px 5px;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-bottom-color: #000;
  border-width: 0 5px 5px;
}
/*tooltip*/
/*pagination*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
{
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #8e44ad;
  border-top-color:#8e44ad;
  border-right-color-value: #8e44ad;
  border-bottom-color: #8e44ad;
  border-left-color-value:#8e44ad;
}

.pagination > li > a, .pagination > li > span
{
  position: relative;
  float: left;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  margin-left: -1px;
  line-height: 1.42857;
  color:#8e44ad;
  background-color: #ffffff;
  border-top-width: 1px;
  border-right-width-value: 1px;
  border-bottom-width: 1px;
  border-left-width-value: 1px;
  border-top-style: solid;
  border-right-style-value: solid;
  border-bottom-style: solid;
  border-left-style-value: solid;
  border-top-color: #dddddd;
  border-right-color-value: #dddddd;
  border-bottom-color: #dddddd;
  border-left-color-value: #dddddd;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
}
/*pagination*/